{% extends 'base.html.twig' %}

{% block title event.title %}

{% block body %}
    {% include 'include/flashes.html.twig' %}
    <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% if event.filename %}
                            <img src="/images/events/{{ event.filename }}" alt="card-img-top" style="width: 100%; height: auto">
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <h1>{{ event.title }}</h1>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                        <a href="{{ path('events.join', {id: event.id, slug: event.slug}) }}" class="btn btn-info mt-5">S'inscrire</a>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle mt-2" type="button" id="dropdownUsers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Liste des participants
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownUsers">
                                {% for event in event.users %}
                                    <p class="dropdown-item text-black-50">
                                        <img src="/images/users/{{ event.filename }}" width="30" height="30" class="d-inline-block align-top rounded-circle border border-info" alt="">
                                        {{ event.username |capitalize }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="mb-2">Description :</h2>
                    <p>{{ event.description }}</p>
                </div>
                <div class="col-md-4">
                    <h2 class="mb-2">Informations :</h2>
                        <table class="table table-striped">
                            <tr>
                                <td>Début :</td>
                                <td>{{ event.startAt |date("d/m/Y") }}</td>
                            </tr>
                            <tr>
                                <td>Fin :</td>
                                <td>{{ event.finishAt |date("d/m/Y") }}</td>
                            </tr>
                            <tr>
                                <td>Addresse :</td>
                                <td>{{ event.address }}</td>
                            </tr>
                            <tr>
                                <td>Ville :</td>
                                <td>{{ event.city }}</td>
                            </tr>
                            <tr>
                                <td>Code Postale :</td>
                                <td>{{ event.postalCode }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de places :</td>
                                <td>{{ event.capacity }}</td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    <div class="jumbotron">
        <div class="container">
            <section id="commentaires">
                <h2 class="mb-2">Commentaires :</h2>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="comment">

                    {% for comment in comments %}
                    <div class="row mt-4 mb-4">
                        <div class="col-md-2">
                            <small>Commenté par&nbsp;:&nbsp;{{ comment.user.username | capitalize }}</small>
                            <small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>
                        </div>
                        <div class="col-md-10">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                        <hr>
                    {% endfor %}
                    {{ form_start(commentEventForm) }}
                    {{ form_row(commentEventForm.content) }}
                    <button type="submit" class="btn btn-info"> Valider</button>
                    {{ form_end(commentEventForm) }}
                </div>
                {% else %}
                    <h4>Veuillez vous connecter pour voir et rediger des commentaires.</h4>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}