{% extends 'base.html.twig' %}

{% block title team.name %}

{% block body %}
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% if team.filename %}
                            <img src="/images/teams/{{ team.filename }}" alt="card-img-top" style="width: 100%; height: auto">
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <h1>{{ team.name }}</h1>
                        <a href="{{ path('teams.join', {id: team.id, slug: team.slug}) }}" class="btn btn-primary">Rejoindre</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="mb-2">Description :</h2>
                    <p>{{ team.description }}</p>
                </div>
                <div class="col-md-4">
                    <h2 class="mb-2">Informations :</h2>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <p><strong>Thématique : </strong>{{ team.thematic }}</p>
                                </td>
                                <td>
                                    <p><strong>Inscrit : </strong></p>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}