<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Meet Up !{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="navbar-brand mr-5" href="{{ path('events.index') }}">
                    <img src="/images/assets/partner-saas-integration.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
                    Meet Up
                </a>
                {% else %}
                <a class="navbar-brand mr-5" href="{{ path('home') }}">
                    <img src="/images/assets/partner-saas-integration.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
                    Meet Up
                </a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                            <a class="nav-link
                               {% if current_menu is defined and current_menu == "events" %}active{% endif %}"
                               href="{{ path('events.index') }}">Evenements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                               {% if current_menu is defined and current_menu == "team" %}active{% endif %}"
                               href="{{ path('team') }}">Groupes
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <ul class="navbar-nav">
                        <li class="navbar-item">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-info dropdown-toggle navbar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/users/{{ app.user.filename }}" width="30" height="30" class="d-inline-block align-top rounded-circle border border-white" alt="">
                                    {{ app.user.username | capitalize}}
                                </button>
                                <div class="dropdown-menu">
                                    {% if is_granted('ROLE_ADMIN_BOTH') %}
                                        <a class="dropdown-item" href="{{ path('admin.events.index') }}">Gestion des événements</a>
                                        <a class="dropdown-item" href="{{ path('admin.teams.index') }}">Gestion des groupes</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN_TEAM') %}
                                        <a class="dropdown-item" href="{{ path('admin.teams.index') }}">Gestion des groupes</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN_EVENT') %}
                                        <a class="dropdown-item" href="{{ path('admin.events.index') }}">Gestion des événements</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('profile.show', {id: app.user.id}) }}">Mon Profil</a>
                                    <a class="dropdown-item" href="{{ path('profile.edit', {id: app.user.id}) }}">Modifier Profil</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('logout') }}" class="dropdown-item">Se déconnecter</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    {% if app.user %}
                        {% else %}
                            <ul class="navbar-nav">
                                <li class="navbar-item">
                                    <a href="{{ path('login') }}" class="nav-link">Se connecter</a>
                                </li>
                            </ul>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>